@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 1200px;
  display: flex;
  flex-direction: column;
}

.container {
  width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.section-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 69px 70px;
}

.services-container {
  padding-top: 64px;
  padding-bottom: 64px;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  padding: 8px 34px;
  margin: 0;
  cursor: pointer;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:focus-visible {
  outline: none;
}

.button:disabled {
  background-color: #e5e5e5;
  pointer-events: none;
}

.button.big {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  min-width: 376px;
  border-radius: 0;
}

.button-brown {
  background-color: #745d5d;
  display: inline-block;
  align-self: center;
}

.button-brown.big {
  border-radius: 4px;
}

.button-brown:hover,
.button-brown:focus-visible {
  background-color: #615048;
}

.button-brown:active {
  background-color: #745d5d;
}

.button-blue {
  background-color: #82b3d3;
}

.button-blue:hover,
.button-blue:focus-visible {
  background-color: #68a2ca;
}

.button-blue:active {
  background-color: #82b3d3;
}

.button-green {
  background-color: #7db54f;
}

.button-green:hover,
.button-green:focus-visible {
  background-color: #6c9e42;
}

.button-green:active {
  background-color: #7db54f;
}

.button-clear {
  background-color: rgba(0, 0, 0, 0.01);
  border: 3px solid transparent;
}

.button-clear:hover {
  opacity: 0.6;
}

.button-clear:focus-visible {
  border: 3px solid #83b3d3;
}

.button-blue.big {
  min-width: 232px;
}

.catalog-form-btn {
  padding: 8px 50px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  display: flex;
  align-items: flex-start;
  padding: 0 70px;
}

.logo {
  display: block;
  margin-right: 30px;
  height: 64px;
  width: 138px;
  margin-bottom: -6px;
  z-index: 1;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  margin: 0 auto;
}

.header-navigation-list {
  margin: 0;
  padding: 0;
  width: 430px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user {
  max-width: 270px;
  list-style-type: none;
}

.header-navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

.header-navigation-item {
  padding: 20px 16px;
}

.header-navigation-link-active {
  border-bottom: 2px solid #756257;
}

.navigation-user .navigation-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.navigation-link {
  text-decoration: none;
  position: relative;
}

.navigation-link svg {
  fill: #000000;
  transition: fill 0.3s ease;
}

.navigation-link:hover svg,
.navigation-link:focus-visible svg {
  fill: #68a2ca;
}

.navigation-link:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

.navigation-icon {
  width: 20px;
  height: 20px;
}

.navigation-list {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
}

.choose-type {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 268px;
  column-gap: 20px;
}

.likes-number {
  position: absolute;
  top: 0;
  right: 4px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 10px;
  line-height: 1;
  background-color: #7db54f;
  border-radius: 50%;
  color: #ffffff;
}

.main-index {
  text-align: center;
  flex-grow: 1;
}

.intro {
  min-height: 483px;
  padding: 49px;
  color: hsl(0, 0%, 100%);
  background-color: #2e7079;
  background-image: url("../images/white-line.svg"),
    url("../images/index-background.jpg");
  background-size: 1200px auto, cover;
  background-repeat: no-repeat;
  background-position: center bottom, center;
}

.advantages {
  display: flex;
  flex-direction: column;
  row-gap: 21px;
}

.advantages-container {
  row-gap: 25px;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  max-width: 172px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 62px;
  position: relative;
}

.advantages-title::before {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: #fff;
  opacity: 0.3;
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
  z-index: 1;
}

.advantages-img {
  display: inline-block;
  width: 800px;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.title-2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.text-basic {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
}

.advantages-list {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages-item-img {
  display: flex;
  width: auto;
  padding: 0;
}

.item-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 112px 85px;
}

.advantages-item-img .item-text {
  padding-top: 102px;
  padding-bottom: 102px;
}

.advantages-title.white {
  color: #ffffff;
}

.advantages-description.white {
  color: #ffffff;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.advantages-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #82b3d3;
  min-width: 230px;
  min-height: 385px;
}

.advantages-item-lightblue {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-darkblue {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-lightblue .advantages-title::before,
.advantages-item-darkblue .advantages-title::before {
  background-color: #000000;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
  width: 1200px;
}

.services-item {
  text-align: center;
  width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  margin: 0;
  padding: 80px 85px;
}

.services-item::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.services-item-home::before {
  background-image: url("../images/icons/home-big.svg");
}

.services-item-food::before {
  background-image: url("../images/icons/food-big.svg");
}

.services-item-gift::before {
  background-image: url("../images/icons/souvenir-big.svg");
}

.services-item:nth-child(2n + 1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item-icon {
  width: 75px;
  height: 72px;
}

.services-item-text {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.services-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}

.services-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  text-wrap: balance;
}

.appointment-container {
  padding-top: 96px;
  padding-bottom: 96px;
}

.appointment-text {
  margin-bottom: 34px;
}

.newsletter {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom, center;
  min-height: 414px;
  box-sizing: border-box;
  text-align: center;
  padding-right: 258px;
  padding-left: 258px;
  margin: 0;
}

.newsletter-container {
  padding-top: 96px;
  padding-right: 0;
  padding-bottom: 104px;
  padding-left: 0;
}

.newsletter-text {
  color: #ffffff;
}

.newsletter-index {
  background-image: url("../images/subscribe-background.jpg");
  background-color: #2e7079;
  color: #ffffff;
}

.newsletter-catalog {
  background-color: #ffffff;
  color: #000000;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  border-radius: 4px;
  overflow: hidden;
}

.title-search {
  padding: 0 20px;
}

.field {
  background-color: #e6e6e6;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  width: 452px;
  border: none;
  padding: 14px 20px;
  flex-grow: 1;
  margin-right: -1px;
}

.field::placeholder {
  font-size: 18px;
  line-height: 24px;
}

.page-footer {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 45px 70px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  max-width: 240px;
}

.footer-social-icon-vk {
  width: 24px;
  height: 14px;
}

.footer-social-icon-tg {
  width: 18px;
  height: 15px;
}

.footer-social-icon-yt {
  width: 22px;
  height: 17px;
}

.footer-social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 40px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-link svg {
  fill: #83b3d3;
  transition: fill 0.3s ease;
}

.footer-social-link:hover svg,
.footer-social-link:focus-visible svg {
  fill: #68a2ca;
}

.footer-social-link:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.contacts-phone:hover,
.contacts-phone:focus-visible {
  color: #756157;
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-link {
  font-size: 14px;
  color: #000000;
  transition: all 0.3s ease;
}

.logo-image {
  width: 115px;
  height: 33px;
}

.htmlacademy-link:hover svg,
.htmlacademy-link:focus-visible svg {
  fill: #756157;
}

.htmlacademy-link:active svg {
  fill: rgba(117, 97, 87, 0.3);
}

/*catalog*/

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding: 0;
}

.catalog-filter {
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  gap: 70px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs {
  color: #242424;
  display: flex;
  flex-wrap: wrap;
  column-gap: 28px;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  padding-top: 8px;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  list-style-type: none;
}

.breadcrumbs-item::after {
  content: url("../images/icons/arrow-small.svg");
  position: absolute;
  top: 50%;
  right: -18px;
  transform: translateY(-50%);
  z-index: 1;
  width: 8px;
  height: 20px;
}

.breadcrumbs-item:last-child::after {
  display: none;
}

.breadcrumbs-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus-visible {
  color: #ffffff;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link-icon {
  width: 13px;
  height: 15px;
}

.catalog-filter-pb {
  margin: 0;
  padding: 0;
  width: 549px;
  border: none;
  display: flex;
  margin-left: auto;
}

.button-filter {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  row-gap: 29px;
}

.sorter-hotel-catalog {
  padding-right: 70px;
  padding-left: 70px;
}

.catalog-header {
  display: flex;
  align-items: flex-start;
  padding-top: 50px;
  padding-bottom: 40px;
  gap: 70px;
  margin: 0;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-transform: capitalize;
  width: 150px;
  margin: 0;
  padding: 0;
  padding-bottom: 34px;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.control-input.input-price {
  width: 143px;
  font-family: "PT Sans", sans-serif, system-ui;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 10px 20px;
}

.control-input.input-price:focus-visible {
  outline: 3px solid #83b3d3;
}

.catalog-filter-item {
  position: relative;
  height: max-content;
}

.input-label {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #000000;
  opacity: 0.3;
}

.control {
  position: relative;
  display: block;
  padding-left: 35px;
  margin-bottom: 16px;
  cursor: pointer;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}

.control-input:focus-visible + .control-mark {
  outline: 3px solid #83b3d3;
}

.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  left: 0;
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 10px;
  left: 4px;
  top: 5px;
  background-image: url(../images/icons/tick.svg);
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgba(63, 94, 114, 1);
  border-radius: 50%;
  top: 5px;
  left: 5px;
}

.catalog-filter-price {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 20px;
}

.icons-list {
  margin: 0;
  padding: 0;
  gap: 8px;
  width: 160px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 48px);
}

.icons-list-button {
  width: 48px;
  height: 48px;
  display: block;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-size: 16px 14px;
  background-repeat: no-repeat;
  background-position: center;
}

.icons-list-button:hover,
.icons-list-button:active {
  border-color: #000000;
}

.icons-list-button:focus-visible {
  outline: none;
  border-color: #68a2ca;
}

.icons-list-button-v-tile {
  background-image: url("../images/icons/view-1.svg");
  border-color: #000000;
}

.icons-list-button-v-card {
  background-image: url("../images/icons/view-2.svg");
}

.icons-list-button-v-list {
  background-image: url("../images/icons/view-3.svg");
}

.inner-header {
  background-image: url("../images/filter-background.jpg");
  background-color: #1f78b4;
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom, center;
  padding: 33px 70px 56px;
  max-width: 1200px;
}

.filter-range {
  width: 287px;
  height: 20px;
  position: relative;
}

.filter-range::before,
.filter-range::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  background-color: #ffffff;
}

.filter-range::before {
  width: 226px;
}

.filter-range::after {
  left: 226px;
  opacity: 0.3;
  width: 61px;
}

.range-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.range-btn:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-btn:focus-visible {
  outline: 3px solid #83b3d3;
}

.range-btn:active {
  outline: 2px solid #83b3d3;
}

.range-btn-2 {
  left: 206.5px;
}

.title-hotel {
  padding-top: 6px;
  padding-bottom: 6px;
  margin: 0;
  margin-right: auto;
  max-width: 530px;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 17px;
  margin: 0;
  padding: 0;
  padding-bottom: 38px;
  border-bottom: 1px solid rgba(230, 230, 230, 1);
  list-style-type: none;
}

.hotel-card {
  margin: 0;
  padding: 20px;
  width: 340px;
  min-height: 438px;
  border: 1px solid #e6e6e6;
  gap: 16px;
}

.hotel-card-header-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #000;
}

.hotel-card-image {
  display: block;
  width: 100%;
  height: 212px;
  object-fit: contain;
  object-position: center;
}

.hotel-card-filter {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  column-gap: 20px;
  row-gap: 16px;
}

.product-list-filter {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  font-size: 18px;
}

.hotel-card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 6px;
  font-family: "PT Sans", sans-serif, system-ui;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
}

.hotel-card-control {
  cursor: pointer;
}

.hotel-card-control:focus-visible {
  outline: none;
}

.hotel-card-control:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card-control-brown {
  color: #fff;
  background-color: #756157;
  font-weight: 700;
}

.hotel-card-control-brown:hover,
.hotel-card-control-brown:focus-visible {
  background-color: #615048;
}

.hotel-card-control-brown:active {
  background-color: #756157;
}

.hotel-card-control-blue {
  color: #fff;
  background-color: #82b3d3;
  font-weight: 700;
}

.hotel-card-control-blue:hover,
.hotel-card-control-blue:focus-visible {
  background-color: #68a2ca;
}

.hotel-card-control-blue:active {
  background-color: #82b3d3;
}

.hotel-card-control.is-active {
  color: #fff;
  background-color: #7db54f;
  font-weight: 700;
}

.hotel-card-control.is-active:hover,
.hotel-card-control.is-active:focus-visible {
  background-color: #6c9e42;
}

.hotel-card-control.is-active:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card-stars {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  gap: 6px;
  margin: 0;
  padding: 0;
}

.hotel-card-stars-count-5 .star-icon:not(:nth-child(-n + 5)),
.hotel-card-stars-count-4 .star-icon:not(:nth-child(-n + 4)),
.hotel-card-stars-count-3 .star-icon:not(:nth-child(-n + 3)),
.hotel-card-stars-count-2 .star-icon:not(:nth-child(-n + 2)),
.hotel-card-stars-count-1 .star-icon:not(:nth-child(-n + 1)) {
  display: none;
}

.star-icon {
  width: 18px;
  height: 17px;
  background-position: center;
  row-gap: 6px;
}

.select-control {
  position: relative;
  font-family: "PT Sans", sans-serif, system-ui;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  width: 292px;
  padding: 8px 18px;
  margin-left: auto;
  color: #333333;
  background-color: #ffffff;
  background-image: url("../images/icons/arrow-big.svg");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 20px);
  background-position-y: center;
  background-size: 12px, 7px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  cursor: pointer;
  appearance: none;
}

.select-control:active,
.select-control:focus-visible {
  outline: none;
  border-color: #68a2ca;
}

.select-control:hover {
  border-color: #68a2ca;
}

.select-control:disabled {
  border-color: rgba(0, 0, 0, 0.3);
}

.choose {
  display: flex;
  column-gap: 70px;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 16px 0;
}

.hotel-type {
  font-size: 18px;
  line-height: 28px;
  color: #333333;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 28px;
  text-align: right;
  color: #333333;
}

.rating {
  background-color: #e6e6e6;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
}

.pagination {
  padding: 0;
  padding-top: 39px;
  padding-bottom: 60px;
  margin: 0;
  display: flex;
  gap: 8px;
  list-style-type: none;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.8;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68a2ca;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
  pointer-events: none;
}

.pagination-ellipses {
  width: 60px;
  height: 60px;
  display: block;
  box-sizing: border-box;
  text-align: center;
  padding: 18px 11px;
  border-radius: 4px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  display: none;
}

.modal-title {
  font-family: inherit;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  width: 520px;
  margin: 0;
  margin-bottom: 64px;
  color: #000000;
}

.modal-form {
  position: relative;
  display: grid;
  grid-auto-rows: max-content;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  width: 717px;
  min-height: 576px;
}

.modal-form-inner {
  display: grid;
  row-gap: 23px;
}

.modal-close {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 53px;
  z-index: 1;
  font-size: 0;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  display: block;
  width: 16px;
  height: 2px;
  background-color: #000000;
}

.modal-close::before {
  transform: translate(-50%) rotate(45deg);
}

.modal-close::after {
  transform: translate(-50%) rotate(-45deg);
}

.modal-close:hover {
  background-color: #e5e5e5;
}

.modal-close:focus {
  background-color: #e5e5e5;
  border: 3px solid #83b3d3;
  outline: none;
}

.modal-close:active {
  fill: #e5e5e5;
  opacity: 30%;
}

.modal-form-field {
  display: grid;
  grid-template-columns: 137px 1fr;
  grid-auto-rows: max-content;
  row-gap: 4px;
  align-items: center;
}

.modal-form-field-title {
  font-weight: bold;
  line-height: 24px;
  font-size: 20px;
  color: #000000;
}

.modal-field-warn-text {
  grid-column: 2 / 3;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  padding-left: 20px;
  color: #333333;
}

.modal-field-warn-text.error {
  color: #ff5757;
}

.modal-form-fieldset-counters {
  grid-template-columns: 1fr 1fr;
}

.modal-form-counter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 46px;
}

.modal-form-counter-field {
  display: flex;
  align-items: center;
  width: 110px;
  height: 48px;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.modal-form-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}

.modal-form-counter-input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  text-align: center;
  font-family: inherit;
  line-height: 20px;
  font-size: 18px;
  font-weight: 700;
  -moz-appearance: textfield;
  appearance: textfield;
}

.modal-form-counter-input::-webkit-outer-spin-button,
.modal-form-counter-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal-form-counter-icon {
  width: 14px;
  height: 14px;
  fill: #000000;
  opacity: 0.3;
}

.modal-form-counter:hover .modal-form-counter-icon {
  opacity: 1;
}

.modal-form-counter:focus-visible .modal-form-counter-icon {
  border-radius: 3px;
  outline: 3px solid #83b3d3;
  outline-offset: 3px;
  opacity: 1;
}

.modal-form-counter:active .modal-form-counter-icon {
  opacity: 0.3;
}

.modal-field-input {
  border-radius: 4px;
  max-height: 48px;
  padding: 17px 20px;
  padding-right: 44px;
  border: none;
  background-image: url("../images/icons/calendar.svg");
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  background-size: 20px;
  background-position: right 20px center;
  font-family: inherit;
  line-height: 24px;
  font-size: 18px;
  font-weight: 700;
}

.modal-field-input:hover {
  background-color: #e5e5e5;
}

.modal-field-input:focus {
  background-color: #e5e5e5;
  border: 3px solid #83b3d3;
  outline: none;
}

.modal-field-input:active {
  fill: #e5e5e5;
  opacity: 30%;
}

.modal-form-fieldset {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 88px;
  border: none;
  margin: 0;
  padding: 0;
}

.modal-form-fieldset-title {
  font-weight: bold;
  line-height: 24px;
  font-size: 20px;
  color: #000000;
}

.modal-form-tooltip-box {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.modal-submit-button {
  width: 577px;
  min-height: 60px;
  border-radius: 10px;
  margin-top: 48px;
  padding: 0;
}

.tooltip {
  position: relative;
}

.tooltip-toogle {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  margin: 0;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #83b3d3;
  background-image: url("../images/icons/info-icon.svg");
  background-repeat: no-repeat;
  background-size: 2px 12px;
  background-position: center;
}

.tooltip-text {
  position: absolute;
  left: 50%;
  top: calc(100% + 15px);
  transform: translateX(-50%);
  background-color: #333333;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  font-weight: 400;
  padding: 22px;
  border-radius: 8px;
  width: 256px;
  z-index: 1;
  display: none;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  display: block;
  background-repeat: no-repeat;
  width: 19px;
  height: 19px;
  background-color: #333333;
  top: -4px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.tooltip-toogle:hover + .tooltip-text,
.tooltip-toogle:focus-visible + .tooltip-text {
  display: block;
}
